<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379128860194-emqavpmfokls8m1070eae65bt9g76c03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379128860194-emqavpmfokls8m1070eae65bt9g76c03</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>379128860194-1q3sjutjiol1b8h9rkd0d7h2ftugaevs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCNxf-u96LDbkcCmsVtXyyHTYtkRuSuV9c</string>
	<key>GCM_SENDER_ID</key>
	<string>379128860194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.mailbak.einsurance</string>
	<key>PROJECT_ID</key>
	<string>uzbekinvest-7f0c0</string>
	<key>STORAGE_BUCKET</key>
	<string>uzbekinvest-7f0c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379128860194:ios:f46742071d752bf908c47b</string>
	<key>DATABASE_URL</key>
	<string>https://uzbekinvest-7f0c0.firebaseio.com</string>
</dict>
</plist>